@import "tailwindcss";

:root {
  /* Suas Cores Temáticas do Festival */
  --petroleo: #06616D;
  --marinho: #15314D;
  --verde-musgo: #03743E;
  --amarelo-ouro: #FBB12F;
  --laranja-queimado: #Db6830;
  --rosa-coral: #E06064;
  --bege-claro: #F3E5CF;

  /* Cores Neutras Padrão */
  --branco: #FFFFFF;
  --preto: #000000;
  --cinza-claro: #E5E7EB;
  --cinza-medio: #9CA3AF;
  --cinza-escuro: #1F2937;

  /* Mapeamento de Uso Geral */
  --bg-primary: var(--marinho);
  --bg-card: var(--petroleo);
  --text-main: var(--bege-claro);
  --accent: var(--amarelo-ouro);
}

*, *::before, *::after, body {
  font-family: 'Roboto', sans-serif !important;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-main);
  margin: 0;
  padding: 0;
}